[run]
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    */site-packages/*
    manage.py
    mprjlabeler/settings.py
    mprjlabeler/test_settings.py
    venvtest/*
    venv/*
    lib/*
