celery==4.2.1
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.4.2
Django==2.0.2
django-yamlfield==1.0.3
django-ordered-model==3.1.1
gunicorn==19.7.1
idna==2.6
newrelic==3.2.0.91
psycopg2==2.7.4
psycopg2-binary==2.7.4
pyLDAvis==2.1.2
pytz==2018.3
PyYAML==3.12
sklearn==0.0
raven==6.6.0
redis==3.2.1
requests==2.18.4
six==1.11.0
urllib3==1.22
whitenoise==3.3.1
git+https://github.com/MinisterioPublicoRJ/processostjrj.git@develop
git+https://github.com/MinisterioPublicoRJ/classificador-lyra.git
