celery==4.2.1
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.4.2
Django==2.2.24
django-yamlfield==1.0.3
django-nested-admin==3.2.3
django-ordered-model==3.1.1
gunicorn==19.7.1
idna==2.7
newrelic==3.2.0.91
pdfminer.six==20200726
psycopg2==2.7.4
psycopg2-binary==2.7.4
pytz==2018.3
PyYAML==3.13
sklearn==0.0
redis==3.2.1
requests==2.19.1
six==1.11.0
tqdm==4.48.2
urllib3==1.23
whitenoise==3.3.1
git+https://github.com/MinisterioPublicoRJ/pyLDAvis.git
git+https://github.com/MinisterioPublicoRJ/processostjrj.git@develop
git+https://github.com/MinisterioPublicoRJ/classificador-lyra.git
