celery==5.2.3
certifi==2021.10.8
chardet==4.0.0
dj-database-url==0.5.0
Django==4.0.3
django-nested-admin==3.4.0
django-ordered-model==3.5
django-yamlfield==1.1.0
gunicorn==20.1.0
idna==3.3
newrelic==7.6.0.173
pdfminer.six==20211012
psycopg2-binary==2.9.3
pytz==2021.3
PyYAML==5.4.1
sklearn
redis==4.1.4
requests==2.27.1
six==1.16.0
tqdm==4.63.0
urllib3==1.26.8
whitenoise==6.0.0
pyLDAvis==3.3.1
processostjrj @ git+https://github.com/MinisterioPublicoRJ/processostjrj.git@test/debugging
classificador-lyra @ git+https://github.com/MinisterioPublicoRJ/classificador-lyra.git@test/debugging
