<div class="modal fade" 
        id="confirmarfiltrarmodal"
        tabindex="-1" role="dialog" 
        aria-labelledby="confirmarfiltrarlabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-danger" id="confirmarfiltrarlabel">Atenção!</h4> 
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja executar o download dos documentos novamente?</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="idfiltro" name="idfiltro">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a type="submit" id="btnrealmentefiltrar" class="btn btn-danger" href="#">Filtrar</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>