<style>
.ui-autocomplete { z-index:2147483647; }
</style>

<div class="modal fade" id="compartilharFiltroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="exampleModalLabel1">Compartilhar Filtro</h4> 
                </div>
                <form method='POST' action="{% url 'adiciona-usuario-filtro' form.instance.pk %}" id="compartilhar_form">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Nome do usuário:</label>
                            <input type="text" class="form-control" name="compartilhar_username" id="compartilhar_nome_usuario" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Compartilhar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% block extrascripts %}
<script>
  function getCookie(name) {
    // Function to get any cookie available in the session.
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  };
  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
    }
  });

  const form = document.getElementById("compartilhar_form");

  form.addEventListener("submit", function(evt) {
    evt.preventDefault();
    const formData = new FormData(form);
    $.ajax({
      type: "POST",
      data: formData,
      success: data => {
      }
    })
  })
</script>
{% endblock %}