<div id="helparquivo" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="helparquivoLabel" aria-hidden="true" style="padding-right: 15px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="helparquivolLabel">Lista de Processos</h4> </div>
                <div class="modal-body">
                    <p>Deve ser informado um arquivo no formato CSV, sem cabeçalho, com apenas uma coluna contendo a lista de processos que serão baixados do TJRJ</p>
                    <p>Os números dos processos não devem conter nenhum caractere separador como <b>.</b> ou <b>-</b></p>
                    <p>ex.:</p>
                    <p>
                    <table>
                        <tr><td>00047291920188190054</td></tr>
                        <tr><td>00312264720188190038</td></tr>
                        <tr><td>01144276820178190038</td></tr>
                        <tr><td>00155248520178190206</td></tr>
                        <tr><td>00610265520188190001</td></tr>
                        <tr><td>00314254020178190206</td></tr>
                        <tr><td>00043227420188190207</td></tr>
                        <tr><td>00157218020178190040</td></tr>
                        <tr><td>03125271920178190001</td></tr>
                        <tr><td>00943274820178190038</td></tr>
                        <tr><td>01208252020188190001</td></tr>
                        <tr><td>00439240620178190205</td></tr>
                        <tr><td>00724258120188190001</td></tr>
                        <tr><td>00186229820188190038</td></tr>
                        <tr><td>00005298320188190210</td></tr>
                        <tr><td>00295256920188190038</td></tr>
                        <tr><td>00236259720178190202</td></tr>
                        <tr><td>00810237020178190038</td></tr>
                    </table>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>