<div class="modal fade" id="adicionarClasseModal" tabindex="-1" role="dialog" aria-labelledby="adicionarClasseModallLabel1" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="adicionarClasseModalLabel1"></h4> 
            </div>
            <form method='POST' id="frmNomeClasse" action='{% url 'filtros-adicionar-classe' idfiltro %}'>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Nome:</label>
                        {{adicionarclasseform.idclasse}}
                        {{adicionarclasseform.nome}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const adicionarClasse = () => {
        document.querySelector('#adicionarClasseModalLabel1').innerHTML = 'Nova Classe de Filtro'
        document.querySelector('#{{adicionarclasseform.nome.auto_id}}').value = ''
        document.querySelector('#{{adicionarclasseform.idclasse.auto_id}}').value = null
    }

    const alterarClasse = (idClasse, valorAtual) => {
        document.querySelector('#adicionarClasseModalLabel1').innerHTML = 'Atualizar Nome de Classe'
        document.querySelector('#{{adicionarclasseform.nome.auto_id}}').value = valorAtual
        document.querySelector('#{{adicionarclasseform.idclasse.auto_id}}').value = idClasse
    }
</script>