{% load tags_extras %}
<div class="panel panel-info">
    <div class="panel-heading" style="cursor:pointer;" 
         data-perform="panel-collapse">
        {{ campanha }}
        <div class="panel-heading--icone pull-right">
            <a href="#" data-perform="panel-collapse"><i class="ti-plus"></i></a> 
        </div>
        <p class="panel-heading--subtitulo">
            {% completude_geral campanha %}
            {{ completude_geral_campanha }}% do total concluído
        </p>
    </div>
    <div class="panel-wrapper collapse" aria-expanded="true">
        <div class="panel-body">
            <p>
                <strong>{{campanha.descricao|safe}}</strong>
            </p>
			{% completude_dos_trabalhos campanha request.user.username %}
			{% for percent in porcentagens_trabalhos %}
            <div class="progress progress-lg">
				{% if percent == 100 %}
					<div class="progress-bar progress-bar-success" 
                        style="width: {{percent}}%;"
                        role="progressbar">{{percent}}%</div>
				{% else %}
					<div class="progress-bar progress-bar-warning" 
                        style="width: {{percent}}%;"
                        role="progressbar">{{percent}}%</div>
				{% endif %}

            </div>
			{% endfor %}
            <div>
                {% if porcentagem != 100%}
                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <a href="{% url 'campanha' campanha.id %}" 
                       class="btn btn-block btn-outline btn-success">Responder</a>
                </div>
                {% else %}
                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <a href="{% url 'nova_campanha' campanha.id %}" 
                        class="btn btn-block btn-outline btn-warning">Responder Novamente</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>