<aside class="sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="side-menu">
                <li>
                    <a href="{% url 'campanhas' %}" aria-expanded="false"><i class="icon-docs fa-fw"></i> <span class="hide-menu">Classificador</span></a>
                </li>
                <li>
                    <a href="{% url 'filtros' %}" aria-expanded="false"><i class="icon-magnifier fa-fw"></i> <span class="hide-menu">Ferramenta de Filtros</span></a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
