{% extends 'labeler/index.html' %}
{% load tags_extras %}
{% block 'content' %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Campanhas Ativas</div>
            <div class="panel-body">
                <div class="table-responsive">
                    {% for campanha in campanhas%} 
                        {% include 'labeler/widgets/item-campanha.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}