{% extends 'labeler/base.html' %}
{% block body %}<body class="mini-sidebar fix-header">{% endblock %}
{% block basecontent %}
<div id="wrapper">
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    {% include 'labeler/widgets/topmenu.html'%}
    {% include 'labeler/widgets/menu.html' %}
    <div class="page-wrapper">
        <div class="container-fluid">
            {% block 'content' %}
            {% endblock %}
        </div>
    </div>
    {% include 'labeler/widgets/sidemenu.html' %}
</div>
{% endblock %}