{% extends 'labeler/base.html' %}
{% block body %}<body class="mini-sidebar fix-header">{% endblock %}
{% block basecontent %}
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <form class="form-horizontal form-material" id="loginform" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <h3 class="box-title m-b-20">Lyra Labeler MPRJ</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Usuário" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Senha" name="password">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" 
                            type="submit">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}