{% extends 'labeler/index.html' %}
{% load tags_extras %}
{% block 'content' %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Filtros de Documentos</div>
            <div class="panel-body">
                <div class="button-box">
                    <button 
                        class="fcbtn btn btn-success btn-outline btn-1d"
                        data-toggle="modal"
                        data-target="#adicionarModal">
                        <i class="fa fa-plus text-inverse m-r-10"></i>Adicionar Filtro
                    </button>
                </div>
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Situação</th>
                                    <th>Progresso</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in filtros %}
                                <tr>
                                    <td>{{item.nome}}</td>
                                    <td id="label_{{item.id}}">{{item.get_situacao_display}}</td>
                                    <td>
                                        <div class="progress progress-lg margin-vertical-10" id="progresso_{{item.id}}" style="display:none;">
                                            <div class="progress-bar progress-bar-danger active progress-bar-striped" id="barra_{{item.id}}"></div>
                                        </div>
                                    </td>
                                    <td class="text-nowrap">
                                        <input type="hidden" id="hdnsituacao_{{item.id}}" value="{{item.situacao}}">

                                        <a href="{% url "filtros-reaplicar" item.id %}"
                                            id="btnrefiltrar_{{item.id}}" 
                                            data-toggle="tooltip" 
                                            data-original-title="Reaplicar Filtros" 
                                            style="display:none;"> 
                                            <i class="fa fa-refresh text-warning m-r-10"></i>
                                        </a>

                                        <a href="{% url 'filtros-filtro' item.id %}" 
                                            data-toggle="tooltip" 
                                            data-original-title="Editar">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>

                                        <a href="#" 
                                            data-toggle="modal" 
                                            data-target="#confirmarexclusaomodal" 
                                            data-original-title="Excluir"
                                            onclick="atualizar_filtro_exclusao('{{item.id}}', '{{item.nome}}')">
                                            <i class="fa fa-close text-danger m-r-10" title="Excluir"></i>
                                        </a>
                                        
                                        <a href='#'
                                            id="btnexecutar_{{item.id}}"
                                            data-toggle="modal"
                                            data-original-title="Executar Filtro"
                                            onclick="atualizar_filtrar({{item.id}}, '{% url "filtros-classificar" item.id %}')"> 
                                            <i class="fa fa-bolt text-success m-r-10" title="Efetuar o download e aplicar filtros"></i>
                                        </a>

                                        <a href="{% url "filtros-compactar-resultado" item.id %}"
                                            id="btncompactar_{{item.id}}" 
                                            data-toggle="tooltip" data-original-title="Compactar Resultados" 
                                            style="display:none;"> 
                                            <i class="fa fa-file-zip-o text-warning m-r-10"></i>
                                        </a>    

                                        <a href="#"
                                            id="btnbaixar_{{item.id}}" 
                                            data-toggle="tooltip" data-original-title="Baixar Resultados" 
                                            style="display:none;">
                                            <i class="fa fa-download text-warning m-r-10"></i>
                                        </a>

                                        <a href="{% url 'filtros-visualizar-resultado' item.id %}"
                                            id="btnvisualizar_{{item.id}}" 
                                            data-toggle="tooltip" data-original-title="Visualizar Resultados" 
                                            style="display:none;"> 
                                            <i class="fa fa-search text-success m-r-10"></i>
                                        </a>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const atualiza_situacao = (id, conteudo) => {
        let resposta = JSON.parse(conteudo.response)
        let meuprogresso = document.querySelector(`#progresso_${id}`)
        let minhabarra = document.querySelector(`#barra_${id}`)
        let meulabel = document.querySelector(`#label_${id}`)
        let btnexecutar = document.querySelector(`#btnexecutar_${id}`)
        let btnbaixar = document.querySelector(`#btnbaixar_${id}`)
        let btncompactar = document.querySelector(`#btncompactar_${id}`)
        let btnvisualizar = document.querySelector(`#btnvisualizar_${id}`)
        let btnrefiltrar = document.querySelector(`#btnrefiltrar_${id}`)
        let hdnsituacao = document.querySelector(`#hdnsituacao_${id}`)

        let situacoes = {
            '2': 'danger',
            '4': 'warning',
            '6': 'success',
        }

        meulabel.innerHTML = resposta.descricao
        meuprogresso.style.display = 'none'
        btnexecutar.style.display = 'none'
        btnbaixar.style.display = 'none'
        btncompactar.style.display = 'none'
        btnvisualizar.style.display = 'nome'
        btnrefiltrar.style.display = 'none'
        hdnsituacao.value = resposta.situacao

        if( situacoes[resposta.situacao] ) {
            meuprogresso.style.display = 'block'
            minhabarra.style.width = resposta.percentual + '%'
            minhabarra.innerHTML = parseFloat(resposta.percentual, 10).toFixed(3) + '%'
            minhabarra.class = `progress-bar active progress-bar-striped progress-bar-${situacoes[resposta.situacao]}`
        }
        if( ! situacoes[resposta.situacao] ) {
            btnexecutar.style.display = 'inline'
        }
        if( resposta.situacao == '7' ) {
            btnexecutar.style.display = 'inline'
        }
        if( resposta.situacao >= '5' && resposta.situacao != '6') {
            btncompactar.style.display = 'inline'
        }
        if( resposta.situacao >= 5) {
            btnvisualizar.style.display = 'inline'
        }
        if( '357'.includes(resposta.situacao)) {
            btnrefiltrar.style.display = 'inline'
        }
        if( resposta.disponivel ) {
            btnbaixar.style.display = 'inline'
            btnbaixar.href = resposta.disponivel
        } else { btnbaixar.href = '#'}
    }

    const baixaSituacao = (id, url) => {
        let xhr = new XMLHttpRequest();
        xhr.onload = () => {
            if (xhr.status >= 200 && xhr.status < 300) {
                atualiza_situacao(id, xhr)
            } else {
                console.log('The request failed!');
            }
        };

        xhr.open('GET', url)
        xhr.send()
    }

    const baixaSituacoes = () => {filtros_url.forEach(filtro=>{baixaSituacao(filtro.id, filtro.url)})}
    
    let filtros_url = [
        {% for item in filtros%}
            {
                id: {{item.id}},
                url: '{% url 'filtros-obter-situacao' item.id %}'
            },
        {% endfor %}
    ]

    baixaSituacoes()

    setInterval(baixaSituacoes, 1000)

</script>

<!-- confirmar filtrar modal -->
{%include 'filtro/componentes/modal_confirmarfiltrar.html'%}
<!-- adicionar filtro modal -->
{%include 'filtro/componentes/modal_adicionarfiltro.html'%}
<!-- confirmar exclusao modal -->
{%include 'filtro/componentes/modal_confirmarexclusao.html'%}


<script>
    const atualizar_filtro_exclusao = (idfiltro, nome) => {
        document.querySelector('#idfiltroexcluir').value = idfiltro
        document.querySelector('#nomeexclusao').innerHTML = nome
    }

    const atualizar_filtrar = (id, href) => {
        let hdnsituacao = document.querySelector(`#hdnsituacao_${id}`)
        let btnrealmentefiltrar = document.querySelector(`#btnrealmentefiltrar`)
        let confirmarfiltrarmodal = $(`#confirmarfiltrarmodal`)
        btnrealmentefiltrar.setAttribute("href", href)

        if(hdnsituacao.value === "1") {
            window.location.href = href
            return
        }

        confirmarfiltrarmodal.modal('show')
    }
</script>
{% endblock %}