{% extends 'labeler/index.html' %}
{% load tags_extras %}
{% block 'content' %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Filtros de Documentos</div>
            <div class="panel-body">
                <div class="button-box">
                    <button 
                        class="fcbtn btn btn-success btn-outline btn-1d"
                        data-toggle="modal"
                        data-target="#adicionarModal">
                        <i class="fa fa-plus text-inverse m-r-10"></i>Adicionar Filtro
                    </button>
                </div>
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Situação</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in filtros %}
                                <tr>
                                    <td>{{item.nome}}</td>
                                    <td>{{item.get_situacao_display}}</td>
                                    <td class="text-nowrap">        
                                        <a href="{% url 'filtros-filtro' item.id %}" data-toggle="tooltip" data-original-title="Editar"><i class="fa fa-pencil text-inverse m-r-10"></i></a>
                                        <a href="#" data-toggle="modal" data-target="#confirmarexclusaomodal" data-original-title="Excluir" onclick="atualizar_filtro_exclusao('{{item.id}}', '{{item.nome}}')"><i class="fa fa-close text-danger m-r-10"></i></a>
                                        <a href="#" data-toggle="tooltip" data-original-title="Executar Filtro"> <i class="fa fa-bolt text-success m-r-10"></i> </a>
                                        <a href="#" data-toggle="tooltip" data-original-title="Baixar Resultados"> <i class="fa fa-download text-warning m-r-10"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- adicionar filtro modal -->
<div class="modal fade" id="adicionarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="exampleModalLabel1">Novo Filtro</h4> 
            </div>
            <form method='POST' action={% url 'filtros-adicionar' %}>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Nome:</label>
                        {{novofiltroform.nome}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- adicionar filtro modal-->
<!-- confirmar exclusao modal -->
<div class="modal fade" 
        id="confirmarexclusaomodal"
        tabindex="-1" role="dialog" 
        aria-labelledby="confirmarexclusaolabel" 
        aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-danger" id="confirmarexclusaolabel">Atenção!</h4> 
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja excluir <b id="nomeexclusao"></b>?</p>
                <p>Ao realizar esta ação, todos os filtros, configurações, arquivos e processos atrelados a este filtro serão excluidos.</p>
                <p>Não é possível desfazer esta ação!</p>
            </div>
            <div class="modal-footer">
                <form method="POST" action={% url 'filtros-excluir' %}>
                    {% csrf_token %}
                    <input type="hidden" id="idfiltro" name="idfiltro">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- confirmar exclusao modal-->
<script>
    const atualizar_filtro_exclusao = (idfiltro, nome) => {
        document.querySelector('#idfiltro').value = idfiltro
        document.querySelector('#nomeexclusao').innerHTML = nome
    }
</script>
{% endblock %}