{% extends 'labeler/index.html' %}
{% load tags_extras %}
{% block 'content' %}
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <form class="form-horizontal" 
                method="post" 
                action="{% url 'filtros-filtro' form.instance.id %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-12">Nome</label>
                    <div class="col-md-12">
                        {{form.nome}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Tipos de Movimento</label>
                    <div class="col-md-12">
                        {{form.tipos_movimento}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Lista de Processos 
                        <a href="#" data-toggle="modal" data-target="#helparquivo">
                            <i class="fa fa-question text-info m-r-10"></i>
                        </a>
                    </label>
                    <div class="col-md-12">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                <span class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-addon btn btn-default btn-file">
                                <span class="fileinput-new">Selecionar Arquivo</span> 
                                <span class="fileinput-exists">Alterar</span>
                                <input type="file" name="arquivo_documentos">
                            </span> 
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                        </div>
                        {% if model.arquivo_documentos %}
                        <div class="text-right">
                            <a 
                                class="btn btn-outline btn-info btn-default waves-effect waves-light"
                                href="{{ model.arquivo_documentos.url }}"
                                target="_blank">
                                    <i class="fa fa-download text-info m-r-10"></i>{{model.arquivo_documentos.name}}
                                </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="text-right">
                    
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Salvar</button>
                    <a  href="{% url 'filtros' %}" class="btn btn-inverse waves-effect waves-light">Voltar</a>
                </div>
            </form>
            <div>
                <button type="button" 
                class="btn btn-success waves-effect waves-light m-r-10"
                data-toggle="modal"
                data-target="#adicionarClasseModal"
                onclick='adicionarClasse();'> 
                    <i class="fa fa-plus m-r-10"></i>
                    Adicionar Classe de Filtro
                </button>
            </div>

        </div>
    </div>
</div>

<!-- classes -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="ti-settings"></i> Classes de Filtros</div>
            <div class="white-box user-table">
                {% for classe in model.classefiltro_set.all %}
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="box-title">{{classe.nome}}</h3>
                    </div>
                    <div class="col-sm-6" style='text-align: right;'>
                        <h3>
                        <a href="#" data-toggle="modal"
                            data-target="#adicionarClasseModal"
                            onclick='alterarClasse("{{classe.id}}", "{{classe.nome}}");'
                            title="Alterar Nome da Classe">
                            <i class="fa fa-pencil text-info m-r-10"></i>
                        </a>
                        <i class="fa fa-up text-info m-r-10"></i>
                        <i class="fa fa-down text-info m-r-10"></i>
                        <a href="#" data-toggle="modal"
                            data-target="#confirmarexclusaoclassemodal"
                            onclick='excluirclasse("{{classe.nome}}", "{% url 'filtros-excluir-classe' idfiltro classe.id %}");'
                            title="Excluir Classe">
                            <i class="fa fa-trash text-danger m-r-10"></i>
                        </a>
                    </h3>
                    </div>
                </div>
 
                <div class="row table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Termos</th>
                                <th>REGEX</th>
                                <th class="text-nowrap">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <a href="#" class="btn btn-success pull-right m-t-10 font-20" style="color: white;" title="Adicionar Termos de Busca">+</a>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- Help Arquivo Modal-->
{%include 'filtro/componentes/modal_helparquivo.html' %}

<!-- Adicionar Classe Modal-->
{%include 'filtro/componentes/modal_adicionarclasse.html' %}

<!-- Excluir Classe Modal -->
{%include 'filtro/componentes/modal_confirmarexclusaoclasse.html' %}

<script>

</script>

{% endblock %}