{% extends 'labeler/index.html' %}
{% load tags_extras %}
{% block 'content' %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">{{filtro.nome}}</div>
            <div class="panel-body">
                <div class="row">
                    {% for mario in sumario %}
                    <div class="col-md-4 col-sm-12">
                        <div class="white-box bg-primary color-box">
                            <h1 style="float:right;">
                                {% if mario.classe == 0 and mostra_lda %}
                                    <a href="#"
                                    data-toggle="modal" 
                                    data-target="#lda"
                                    title="Análise Latent Direchlet Allocation">
                                        <i class="fa fa-bar-chart-o m-r-10" style="color:white;"></i>
                                    </a>
                                {% endif %}
                                <a href='?classe={{mario.classe}}'
                                    title="Detalhar Documentos">
                                    <i class="fa fa-search m-r-10" style="color:white;"></i>
                                </a>
                            </h1>
                            <h1 class="text-white font-light m-b-0">
                                {{mario.total}}
                            </h1>
                            <span class="hr-line"></span>
                            <p class="cb-text">{{mario.nomeclasse}}</p>
                            {% if mario.classe == 0 %}
                                <h6 class="text-white font-semibold"><span class="font-light">--</span></h6>
                                <h6 class="text-white font-semibold"><span class="font-light">--</span></h6>    
                            {% else %}
                                <h6 class="text-white font-semibold">{{mario.percentual_classe|floatformat:0}}% <span class="font-light">dos classificados</span></h6>
                                <h6 class="text-white font-semibold">{{mario.percentual_total|floatformat:0}}% <span class="font-light">do total</span></h6>    
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-4 col-sm-12">
                        <a href='?classe=T'>
                            <div class="white-box bg-success color-box">
                                <h1 class="text-white font-light m-b-0">{{total}}</h1>
                                <span class="hr-line"></span>
                                <p class="cb-text">Total</p>
                                <h6 class="text-white font-semibold"> -- </h6>
                                <h6 class="text-white font-semibold"> -- </h6>
                            </div>
                        </a>
                    </div>
                </div>
                <table class="tablesaw table-hover table" data-tablesaw-mode="stack"  data-tablesaw-minimap>
                    <thead>
                        <tr>
                            <th scope="col" style="text-transform:none">Número Externo</th>
                            <th scope="col" style="text-transform:none">Tipo Movimento</th>
                            <th scope="col" style="text-transform:none">Classe</th>
                            <th scope="col" style="text-transform:none">Conteúdo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for documento in documentos %}
                        <tr>
                            <td class="title">{{documento.numero}}</td>
                            <td style="white-space: nowrap;">{{documento.tipo_movimento}}</td>
                            <td style="white-space: nowrap;">{{documento.classe_filtro|default_if_none:"-"}}</td>
                            <td><a href="#" 
                                data-toggle="modal" 
                                data-target="#conteudo" 
                                onclick="detalhar('{{documento.id}}')">
                                    {{documento.conteudo|truncatewords:50}}
                                </a>
                                <div style="display:none" id="conteudo_{{documento.id}}">
                                    {{documento.conteudo}}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="pagination">
                    <span class="step-links">
                        {% if documentos.has_previous %}
                            <a href="?page=1&classe={{classe}}">&laquo; primeira</a>
                            <a href="?page={{ documentos.previous_page_number }}&classe={{classe}}">Anterior</a>
                        {% endif %}
                
                        <span class="current">
                            Página {{ documentos.number }} de {{ documentos.paginator.num_pages }}.
                        </span>
                
                        {% if documentos.has_next %}
                            <a href="?page={{ documentos.next_page_number }}&classe={{classe}}">Próximo</a>
                            <a href="?page={{ documentos.paginator.num_pages }}&classe={{classe}}">último &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="conteudo" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="helparquivoLabel" aria-hidden="true" style="padding-right: 15px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <pre style="text-transform: uppercase; text-align: justify; white-space: pre-line; word-break: unset;"
                id="conteudofinal">
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="lda" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="helparquivoLabel" aria-hidden="true" style="padding-right: 15px;">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Latent Dirichlet Allocation</h4> 
            </div>
            <div class="modal-body">
                {{filtro.saida_lda | safe}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    const detalhar = iddocumento => {
        let meupre = document.querySelector(`#conteudo_${iddocumento}`)
        let conteudofinal = document.querySelector("#conteudofinal")
        conteudofinal.innerHTML = meupre.innerHTML
    }
</script>

{% endblock %}
